@import url('https://fonts.cdnfonts.com/css/keep-calm');


body {
  overflow: hidden;
  background-color: #1b171a;

}

#areaDeMovimento {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}

.imagem-movel {
  position: absolute;
  width: 200px; 
  height: 200px;
  align-items: center;
  z-index: -1;
}


.imagem-movel img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 30%;
 /* box-shadow: 0 0 15px rgba(255, 255, 255, 0.8)*/
}

#contador {
  text-align: center;
  color: #333;
  font-family:'Keep Calm', sans-serif;
  background-color: rgba(51, 51, 51, 0.6);
  padding: 20px;
  border-radius: 30px;
  color: white;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border: 5px solid rgba(255, 255, 255, 0.2);
  position: absolute; /* Para poder controlar a posição com top e left */
  top: 50%; /* Posição padrão */
  left: 50%; /* Posição padrão */
  transform: translate(-50%, -50%); /* Centraliza o contador */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8)
}

.titulo {
  position: absolute;
  text-align: center;
  top: 35%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-family: 'Keep Calm', sans-serif;
  font-size: 35px;
  color: white;
  text-shadow: 4px 5px 5px rgba(0, 0, 0, 0.4);
  max-width: 80%; /* Limita a largura do título */
  white-space: normal; /* Permite quebra de linha */
  word-wrap: break-word; /* Quebra palavras longas */
  line-height: 1.4; /* Ajusta o espaçamento entre as linhas */
  -webkit-box-orient: vertical; /* Necessário para o clamping */
}

@media screen and (max-width: 850px) {
  #areaDeMovimento {
    width: 380px;
    height: 800px;
  }
  body{
    width: 360px;
    height: 800px;
  }
  #contador {
    position: absolute;
    text-align: center;
    top:60%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste final para o centro exato */
    padding: 20px;
    width: 80%; /* Ajuste a largura conforme necessário */
    background-color: rgba(51, 51, 51, 0.6);
    border-radius: 15px;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border: 5px solid rgba(255, 255, 255, 0.2);
  }

  .titulo{
    position: absolute;
    text-align: center;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%)scale(2);
    font-size: 1em;

  }

}
